<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div fxLayout="row wrap">
    <mat-toolbar color="primary">
      <span>Sopra Flights</span>
    </mat-toolbar>
  </div>

  <div class="navBar" fxLayout="row">
    <mat-nav-list fxLayout="row">
      <!--<mat-list-item><a routerLink="/home"><span>Home</span></a></mat-list-item>-->
      <mat-list-item><a routerLink="/home"><span>Flights</span></a></mat-list-item>
      <mat-list-item><a routerLink="/hotel"><span>Hotels</span></a></mat-list-item>
    </mat-nav-list>
  </div>
</div>



