<!--The content below is only a placeholder and can be replaced.-->
<div >
  <div fxLayout="row wrap">
    <mat-toolbar color="primary">
      <span>Application Title</span>
    </mat-toolbar>
  </div>

  <div class="navBar" fxLayout="row">
    <mat-nav-list fxLayout="row">
      <mat-list-item><a routerLink="/home"><span>Home</span></a></mat-list-item>
      <mat-list-item><a href=""><span>Flights</span></a></mat-list-item>
      <mat-list-item><a href=""><span>Hotels</span></a></mat-list-item>
    </mat-nav-list>
  </div>

</div>

<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
<!--aria-expanded="false" aria-controls="navbar">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#">Flight Booking</a>-->
<!--</div>-->
<!--<div id="navbar" class="navbar-collapse collapse">-->
<!--<ul class="nav navbar-nav">-->
<!--<li class="active"><a href="#">Home</a></li>-->
<!--<li><a href="#">Flight</a></li>-->
<!--<li><a href="#">Hotels</a></li>-->

<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
<!--<li><a href="../navbar-static-top/">Static top</a></li>-->
<!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
<!--</ul>-->
<!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--</div>&lt;!&ndash;/.container-fluid &ndash;&gt;-->
<!--</nav>-->



