.example-form {
  min-width: 250px;
  max-width: 700px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  color: black;
}
.searchPanel{
  background-color: white;
  padding: 20px;
}
.addPanel{
  background-color: white;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: row-reverse;
}
.example-radio-button {
  margin: 5px;
  color: black;
}
.mat-form-field{
  width: 250px !important;
}
.example-card {
  width: inherit;
}

.example-header-image {
  background-image: url('../../assets/flight.jpg');
  background-size: cover;
}
.inputform{
  background: white;
  min-height: 600px;
}
